---
import Layout from "../layouts/Layout.astro";
import Tabbar from "../components/tabbar.astro";
import ListChannels from '../components/listchannels.astro'

---

<Layout title="Directus TV">
  <Tabbar />
  <div class="block px-3 py-4">
    <ListChannels/>
  </div>
</Layout>

