---
import Layout from "../layouts/Layout.astro";
const fetchData = await fetch(
  "https://api-apps-ta5b-dev.fl0.io/items/Channels"
);
const allChannel = await fetchData.json();
---

<Layout title="Welcome to Astro.">
  <main class="block px-3 py-4">
    <ul
      role="list"
      class="grid grid-cols-3 gap-x-4 gap-y-8 sm:grid-cols-4 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8"
    >
      {
        allChannel.data.map((channel) => (
          <li class="relative">
            <a href={channel.url}>
              <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
                <img
                  src={channel.imageUrl}
                  alt=""
                  class="pointer-events-none object-cover group-hover:opacity-75"
                />
              </div>
              <p class="pointer-events-none mt-2 block text-center text-sm font-medium text-gray-200">
                {channel.name}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
