---
import logo from "../images/logo.png";
---

<div class="w-full h-[400px] flex flex-col justify-center items-center gap-5">
  <img src={logo.src} alt=""  class=""/>
  <div class="max-w-md overflow-hidden">
    <p class="text-gray-400 leading-5 pb-1">
      Lo sentimos, el servidor se encuentra en mantenimiento para brindarte una
      mejor experiencia de usuario.
    </p >
    <p class="text-gray-400 leading-5">Tiempo aproximado de reconección: 1h 30min.</p>
  </div>
</div>
